[user]
	name = kraftwerk28
	email = kefirchik3@gmail.com
[core]
	editor = nvim
	pager = less
	; compression = 0
[alias]
	nvcommit = commit --no-verify
	poosh = push origin HEAD
	nvpoosh = poosh --no-verify
	loh = log --graph --oneline --all
	repull = pull --rebase origin
	stashls = stash list --pretty=format:'%C(red)%h%C(reset) - %C(dim yellow)(%C(bold magenta)%gd%C(dim yellow))%C(reset) %<(70,trunc)%s %C(green)(%cr) %C(bold blue)<%an>%C(reset)'
[pull]
	rebase = false
