* {
	border: none;
	transition: none;
	border-radius: 0;
	min-height: 0;
}

#waybar {
	font-family: "Iosevka Term", "Hack Nerd Font";
	font-stretch: expanded;
	font-size: 15px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.9);
	color: #ffffff;
}

#waybar > box {
	border-top: 2px solid transparent;
}

#waybar.hidden {
	opacity: 0.2;
}

#waybar.termite {
	background-color: #3F3F3F;
}

#waybar.chromium {
	background-color: #000000;
	border: none;
}

#workspaces > button {
	padding: 0 0.4em;
	background-color: transparent;
	border-color: transparent;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
	/* background: rgba(0, 0, 0, 0.2); */
	background: rgba(255, 255, 255, 0.2);
	/* box-shadow: inset 0 -3px #ffffff; */
	transition: none;
}

#workspaces button.focused {
	/* background-color: #64727D; */
	/* box-shadow: inset 0 -3px #ffffff; */
	border-color: #ffffff;
}

@keyframes ws-urgent {
	from {
		border-color: #ff0000;
	}
	to {
		border-color: #ffffff;
	}
}

#workspaces button.urgent {
	border-color: #eb4d4b;
	animation-name: ws-urgent;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#mode {
	background-color: #64727D;
	border-color: #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-openweather,
#custom-sensors,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#language,
#window {
	padding: 0 4px;
	margin: 0 4px;
	color: #ffffff;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

window#waybar.empty #window {
	margin: 0;
	padding: 0;
	border-width: 0;
}

#workspaces {
	margin: 0 4px;
}

#window {
	border-color: #ff8800;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

#clock {
	border-color: #64727D;
}

#battery {
	border-color: #ffffff;
	color: #ffffff;
}

#battery.charging, #battery.plugged {
	color: #26A65B;
	border-color: #26A65B;
}

#battery.good {
	color: #26A65B;
}

#battery.warning {
	color: #f1c40f;
}

@keyframes blink {
	to {
	    border-color: #ffffff;
	    /* color: #000000; */
	}
}

#battery.critical:not(.charging) {
	border-color: #f53c3c;
	color: #f53c3c;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

label:focus {
	border-color: #000000;
}

#cpu {
	border-color: #2ecc71;
	color: #ffffff;
}

#memory {
	border-color: #9b59b6;
}

#disk {
	border-color: #964B00;
}

#backlight {
	border-color: #90b1b1;
}

#network {
	border-color: #2980b9;
}

#network.disconnected {
	border-color: #f53c3c;
}

#pulseaudio {
	border-color: #f1c40f;
	color: #ffffff;
}

#pulseaudio.muted {
	border-color: #90b1b1;
}

#custom-media {
	border-color: #66cc99;
	color: #2a5c45;
	min-width: 100px;
}

#custom-media.custom-spotify {
	border-color: #66cc99;
}

#custom-media.custom-vlc {
	border-color: #ffa000;
}

#temperature {
	border-color: #f0932b;
}

#temperature.critical {
	border-color: #eb4d4b;
}

#tray {
	border-color: #2980b9;
}

#idle_inhibitor {
	border-color: #2d3436;
}

#idle_inhibitor.activated {
	border-color: #ecf0f1;
	color: #2d3436;
}

#mpd {
	border-color: #66cc99;
	color: #2a5c45;
}

#mpd.disconnected {
	border-color: #f53c3c;
}

#mpd.stopped {
	border-color: #90b1b1;
}

#mpd.paused {
	border-color: #51a37a;
}

#language {
	border-color: #00b093;
	color: #ffffff;
	padding: 0 4px;
	margin: 0 4px;
	min-width: 24px;
}

#custom-openweather {
	border-color: #8800ff;
}

#custom-sensors {
	border-color: #8888dd;
}
