* {
	border: none;
	border-radius: 0;
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: "Hack Nerd Font";
	font-size: 15px;
	min-height: 0;
}

window#waybar {
	background-color: rgba(43, 48, 59, 0.5);
	border-bottom: 3px solid rgba(100, 114, 125, 0.5);
	color: #ffffff;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

/*
window#waybar.empty {
	background-color: transparent;
}
window#waybar.solo {
	background-color: #FFFFFF;
}
*/

window#waybar.termite {
	background-color: #3F3F3F;
}

window#waybar.chromium {
	background-color: #000000;
	border: none;
}

#workspaces button {
	padding: 0 5px;
	background-color: transparent;
	color: #ffffff;
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
	background: rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
	/* background-color: #64727D; */
	box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
	border-color: #eb4d4b;
}

#mode {
	background-color: #64727D;
	border-color: #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#language {
	padding: 0 10px;
	margin: 0 4px;
	color: #ffffff;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

#window,
#workspaces {
	margin: 0 4px;
}

#window {
	border-bottom: 3px solid #ff8800;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

#clock {
	border-color: #64727D;
}

#battery {
	border-color: #ffffff;
	color: #ffffff;
}

#battery.charging, #battery.plugged {
	color: #ffffff;
	border-color: #26A65B;
}

@keyframes blink {
	to {
	    border-color: #ffffff;
	    color: #000000;
	}
}

#battery.critical:not(.charging) {
	border-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

label:focus {
	border-color: #000000;
}

#cpu {
	border-color: #2ecc71;
	color: #ffffff;
}

#memory {
	border-color: #9b59b6;
}

#disk {
	border-color: #964B00;
}

#backlight {
	border-color: #90b1b1;
}

#network {
	border-color: #2980b9;
}

#network.disconnected {
	border-color: #f53c3c;
}

#pulseaudio {
	border-color: #f1c40f;
	color: #ffffff;
}

#pulseaudio.muted {
	border-color: #90b1b1;
}

#custom-media {
	border-color: #66cc99;
	color: #2a5c45;
	min-width: 100px;
}

#custom-media.custom-spotify {
	border-color: #66cc99;
}

#custom-media.custom-vlc {
	border-color: #ffa000;
}

#temperature {
	border-color: #f0932b;
}

#temperature.critical {
	border-color: #eb4d4b;
}

#tray {
	border-color: #2980b9;
}

#idle_inhibitor {
	border-color: #2d3436;
}

#idle_inhibitor.activated {
	border-color: #ecf0f1;
	color: #2d3436;
}

#mpd {
	border-color: #66cc99;
	color: #2a5c45;
}

#mpd.disconnected {
	border-color: #f53c3c;
}

#mpd.stopped {
	border-color: #90b1b1;
}

#mpd.paused {
	border-color: #51a37a;
}

#language {
	border-color: #00b093;
	color: #ffffff;
	padding: 0 5px;
	margin: 0 5px;
	min-width: 20px;
}
